<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../Images/style.css" />
  </head>
  <header>
    <div class="descuento">20% de descuento en todos los productos</div>
    <div h1 class="principal">Nombre tienda</div>
  </header>
  <main>
    <form action="" method="GET">
      <h1 class="login">Login</h1>

      <label for="name"></label>
      <input type="text" name="nombreUsuario" placeholder="usuario" />
      <label for="name"></label>
      <input type="text" name="contraseña" placeholder="contraseña" />
      <button type="submit">ENTRAR</button>
      <a class="link" href="login.html">¿Olvidaste tu contraseña? Registrate</a>
    </form>
  </main>

  <footer>
    <p>Todos los derechos reservados a FRONT END 1</p>
  </footer>

  <body></body>
</html>
