<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../Images/style.css" />
  </head>
  <header>
    <div class="descuento">20% de descuento en todos los productos</div>
    <div h1 class="principal">Nombre tienda</div>
  </header>
  <body>
    <main>
      <form action="" method="GET">
        <h1 class="login">Registro</h1>
        <label for="name"></label>
        <input
          type="text"
          name="nombreUsuario"
          placeholder="Nombre y apeliido"
        />
        <label for="name"></label>
        <input type="text" name="correo" placeholder=" correo electronico" />
        <label for="name"></label>
        <input type="text" name="contraseña" placeholder="contraseña" />
        <label for="name"></label>
        <select name="Pais" id="">
          <option hidden selected>Pais</option>
          <option value="Co">Colombia</option>
          <option value="Ar">Argentina</option>
          <option value="Br">Brasil</option>
        </select>

        <button type="submit">Resetear</button>
        <button type="submit">Registrar</button>
        <a class="link" href="login.html">¿Ya tienes una cuenta? Ingresa</a>
      </form>
    </main>

    <footer>
      <p>Todos los derechos reservados a FRONT END 1</p>
    </footer>
  </body>
</html>
