<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Images/style.css" />
    <title>Document</title>
</head>
<body>
<header>
    <header>
        <div class="descuento">Descuento 20%</div>
        <div h1 class="principal">Nombre de la tienda</div>
      </header>
<main class="super">
<h1>Añadi tu super!</h1>
<p> Agregá tu personaje favorito completando las opciones</p>
<form action="">
    
    


</form>





</main>
<footer>
    <p>Todos los derechos reservados a FRONT END 1</p>
  </footer>


<body>

    
</body>
</html>